@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    background-color: #303030;
}

/* ----------- BARRA LATERAL ----------- */

#barraLateral {
    width: 15%;
    height: 100vh;
    border-right: solid 5px #DC0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#msgBarra{
    margin-top: 50px;
    font-size: 18px;
}

#btnsBarra{
    margin: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: space-between;
}

#barraLateral .btnBarra {
    width: 100%;
    background-color: #868686;
    height: 70px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnSair{
    background-color: #DC0000;
    width: 100%;
    border: none;
    height: 70px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnSair:hover,
#btnSair:focus,
.btnBarra:hover,
.btnBarra:focus {
    cursor: pointer;
}

#imgLogo{
    margin-top: 20px;
    width: 18vh;
}

/* ----------- FIM BARRA LATERAL ----------- */


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    justify-content: center;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------- DASHBOARD ----------- */ 

#tituloDashboard{
    background-color: #D9D9D9;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    width: 130vh;
}

#dashboard{
    background-color: #D9D9D9;
    width: 130vh;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.graph{
    background-color: white;
    width: 65vh;
    height: 65vh;
    border-radius: 10px;
}

#kpis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
}

.kpi{
    background-color: white;
    width: 380px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.kpi .tituloKpi{
    color: black;
    font-size: 18px;
    margin-top: 5px;
    font-weight: lighter;
}

.kpi .conteudoKpi{
    color: #00195A;
    font-weight: bold;
    font-size: 25px;
}

.kpi .infoKpi{
    font-size: 15px;
}

#kpiTotal{
    justify-content: space-around;
}

#kpiTotal .conteudoKpi{
    font-size: 50px;
}

/* ----------- FIM DASHBOARD ----------- */


