@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* ----------- HEADER ----------- */

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background-color: #EFEFEF;
    border-bottom: solid 5px #DC0000;
    justify-content: center;
}

#mainHeader {
    display: flex;
    flex-direction: row;
}


.container #imgLogoHeader {
    width: 164px;
    height: 56px;
}

.container #divBotoesHeader {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container #divBotoesHeader #listaBotoesHeader {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    width: 90%;
    justify-content: space-between;
}

#listaBotoesHeader .btnHeaderPadrao {
    margin-top: 7px;
    cursor: pointer;
}

.btnHeaderPadrao:hover {
    color: #001366;
    transform: scale(1.2);
}

#btnHeaderNoticias {
    display: flex;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #2C2C2C;
    color: #EFEFEF;
    cursor: pointer;
}

#btnHeaderNoticias:hover {
    transform: scale(1.1);
    background-color: #001366;

}

/* ----------- FIM HEADER ----------- */

/* ----------- HOME ----------- */

#mainHome {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    background-image: url(../assets/backgroundHome.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.container #home {
    width: 100%;
    height: 768px;
    display: flex;
    align-items: center;
}

#txtHome {
    width: 610px;
    height: 300px;
    font-size: 50px;
    color: #EFEFEF
}

/* ----------- FIM HOME ----------- */

/* ----------- QUIZ ----------- */

#quiz {
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
}

#quiz .container #tituloQuiz {
    width: 100%;
    color: #EFEFEF;
    font-size: 30px;
    margin-bottom: 30px;
}

#quiz .container #cardQuiz {
    background-color: #EFEFEF;
    width: 100%;
    height: 495px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
}


#quiz .container #cardQuiz .perguntaX {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#quiz .container #cardQuiz .perguntaQuiz {
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz .container #cardQuiz .alternativas {
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botaoAlternativa {
    width: 347px;
    height: 61px;
    border-radius: 20px;
    border: 3px solid #DC0000;
    font-size: 25px;
    color: #DC0000;
    font-weight: bold;
    background-color: #EFEFEF;
    transition: transform 0.5s;
}

.botaoAlternativa:hover {
    color: #ffffff;
    background-color: #DC0000;
    transform: scale(1.09);
}

.perguntas {
    display: none;
}

#pergunta0 {
    display: block;
}

/* ----------- FIM QUIZ ----------- */

/* ----------- CATEGORIA ----------- */

#mainCategoria {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://www.otempo.com.br/image/contentid/policy:1.2741790:1675723173/asfalto-estrada-jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container #categoria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.cardCategoria {
    width: 475px;
    height: 678px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 68px;
    transition: transform 0.2s;
}

.cardCategoria:focus,
.cardCategoria:hover {
    transform: scale(1.05);
}

.tituloCategoria {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #001366;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgCategoria {
    width: 400px;
    height: 267px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.conteudoCategoria {
    width: 400px;
    height: 289px;
    font-size: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

/* ----------- FIM CATEGORIA ----------- */



/* ----------- FOOTER ----------- */

footer {
    width: 100%;
    border-top: solid 5px #DC0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoFooter {
    width: 200px;
}

#creditos {
    font-weight: bold;
}

#btnLoginFooter {
    width: 100px;
    background-color: #001366;
    border-radius: 50px;
    text-align: center;
    margin: 20px;
    color: white;
}

#btnLoginFooter:hover {
    background-color: #001fa8;
    cursor: pointer;
}

/* ----------- FIM FOOTER ----------- */